.contenido{
    position:relative;
    width: 55%;
    top:90px;
    left:25%;
    background-color:#FFDAB9;
    table{
        height:100%;
        width:1015px;
        margin-left:-68px;
        background-color:#FFDAB9;
    }
}