<app-menu-profesor></app-menu-profesor>


<div class="contenido">
    <form>
        <h1 class="title">Expediente de alumno</h1>
        <div class="izquierda">
            <p><label for="nombre">Nombre:</label>{{alumno.nombre}}</p>
            <p><label for="apelido">Apellido:</label>{{alumno.apellido}}</p>
            <p><label for="direccion">Dirección:</label>{{alumno.direccion}}</p>
            <p><label for="telefono">Teléfono:</label>{{alumno.telefono}}</p>
            <p><label for="mail">E-mail:</label>{{alumno.nombre_usuario}}</p>
            <p><label for="pAhorcado">Puntos ahorcado:</label>{{alumno.puntos_ahorcado}}</p>
            <p><label for="pOperaciones">Puntos operaciones:</label>{{alumno.puntos_operaciones}}</p>
        </div>
        <div class="derecha">
            <p><label for="nacimiento">Fecha de nacimiento:</label>{{alumno.fecha_nacimiento}}</p>
            <p><label for="foto">Foto:</label><img src=""></p>
        </div>
    </form>
</div>