<app-menu-alumno></app-menu-alumno>
<div class="container">
    <h1 class="title">Elige la asignatura a la que quieres jugar</h1>
    <div class="imagenes">
        <div class="izquierda">
        <a routerLink="/ahorcado" routerLinkActive="active"><img src="/assets/images/ingles.jpg"/><p class="title">Inglés</p></a>
    </div>
    <div class="derecha">
        <a routerLink="/operaciones" routerLinkActive="active"><img src="/assets/images/matematicas.png"/><p class="title">Matemáticas</p></a>
    </div>
    </div>
</div>
