@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

.contenido{
    position:relative;
    width: 55%;
    top:200px;
    left:25%;
    
    .title{
        margin-left:190px;
        font-family: 'Abel', sans-serif;
    }

    .parrafo{
        font-family:'Abel', sans-serif;
        margin-left:244px;
    }
}